.container.my-border
  %strong
    = link_to "#{comment.user.first_name} #{comment.user.last_name}",
               user_path(comment.user.id),
               class: "text-dark"
  = comment.created_at.in_time_zone('Europe/Kiev').strftime("%Y-%m-%d %R")
  %br
  = comment.content
  = form_for Comment.new, url: news_comments_path(@news, comment_id: comment.id) do |f|
    %p
      = f.text_area :content, {placeholder: t('comments.comment.reply_placeholder') }
    %p
      = f.submit t('comments.comment.submit'), class: 'btn btn-outline-dark'
      - if current_user && current_user.id == comment.user_id
        = link_to t('comments.comment.delete'),
          news_comment_path(@news, comment),
          method: :delete,
          data: { confirm: t('comments.comment.confirmation') },
          class: 'btn btn-outline-dark'
  = render partial: 'comments/comment', collection: comment.comments
