.card
  .card-header
    %h5.card-title.mb-0
      = t ('users.edit.account_info')
  .card-body
    %form
    = form_for current_user, url: { action: 'update' } do |form|
      .row
        .col-md-9
          .form-group
            %label
              = t ('users.edit.first_name')
            = form.text_field :first_name, class: 'form-control'
            %ol.mb-0.mt-1
              - current_user.errors[:first_name].each do |msg|
                %li.text-danger
                  = msg
          .form-group
            %label
              = t ('users.edit.last_name')
            = form.text_field :last_name, class: 'form-control'
            %ol.mb-0.mt-1
              - current_user.errors[:last_name].each do |msg|
                %li.text-danger
                  = msg
          .form-group
            %label
              = t ('users.edit.about_me')
            = form.text_area :about_me, class: 'form-control'
            %ol.mb-0.mt-1
              - current_user.errors[:about_me].each do |msg|
                %li.text-danger
                  = msg
        .card-title.mb-4
          .d-flex.justify-content-start
            .image-container
              = image_tag current_user.avatar.url, alt: 'Avatar' , class: 'user-img'
              %br
              = form.file_field :avatar, class: 'btn btn-file'

      %button.btn.btn-primary{ type: 'submit' }
        = t ('users.edit.save')
