.card
  .card-header
    %h5.card-title.mb-0
      = t ('users.edit.profile')
  .card-body
    %form
      .row
        .col-md-8
          .form-group
            %label
              = t ('users.edit.first_name')
            = user.email
          %br
          .form-group
            %label
              = t ('users.edit.first_name')
            = user.first_name
          %br
          .form-group
            %label
              = t ('users.edit.last_name')
            = user.last_name
          %br
          - unless user.about_me.blank?
            .form-group
              %label
                = t ('users.edit.about_me')
              = user.about_me
        .card-title.mb-4
          .d-flex.justify-content-start
            .image-container
              = image_tag user.avatar.url, alt: 'Avatar' , class: 'user-img'
              %br
