.card
  .card-header
    %h5.card-title.mb-0
      = t ('users.edit.profile')
  .list-group.list-group-flush
    %a.list-group-item.list-group-item-action{ href: user_path(user.id) }
      = t ('users.edit.profile')
    - unless user.news.blank?
      %a.list-group-item.list-group-item-action{ href: user_news_path(user.id) }
        = t ('users.edit.news')
    - unless user.created_events.blank?
      %a.list-group-item.list-group-item-action{ href: user_events_path(user.id) }
        = t ('users.edit.events')
    - if current_user && current_user.id == user.id
      %a.list-group-item.list-group-item-action{ href: edit_user_path(current_user.id) }
        = t ('users.edit.description')
      %a.list-group-item.list-group-item-action{ href: new_email_change_request_path }
        = t ('users.edit.email')
      %a.list-group-item.list-group-item-action{ href: user_edit_password_path(current_user.id) }
        = t ('users.edit.password')
