.card
  .card-header
    %h5.card-title.mb-0
      = t ('users.edit.password_info')
  .card-body
    %form
    = form_for current_user, url: { action: 'update_password' } do |form|
      .row
        .col-md-12
          .form-group
            %label
              = t ('users.edit.new_password')
            = form.password_field :password, class: 'form-control'
            %ol.mb-0.mt-1
              - current_user.errors[:password].each do |msg|
                %li.text-danger
                  = msg
          .form-group
            %label
              = t ('users.edit.new_password_reaped')
            = form.password_field :password_confirmation,
                                  class: 'form-control'
            %ol.mb-0.mt-1
              - current_user.errors[:password_confirmation].each do |msg|
                %li.text-danger
                  = msg
          .form-group
            %label
              = t ('users.edit.current_password')
            = form.password_field :current_password,
                                  class: 'form-control'
            %ol.mb-0.mt-1
              - current_user.errors[:current_password].each do |msg|
                %li.text-danger
                  = msg
      %button.btn.btn-primary{ type: 'submit' }
        = t ('users.edit.save')
