.col-lg-4
  %h3.font-weight-bold
    = t('news.aside_bar.about_university')
  %hr
  .row.justify-content-end
    .col-lg-11
      %h5.m-0.ml-10
        = link_to t('news.aside_bar.leadership_and_organisation'), '#', class: 'text-dark'
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      %h5.m-0
        = link_to t('news.aside_bar.education'), '#', class: 'text-dark'
      %p
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      %h5.m-0
        = link_to t('news.aside_bar.students_community'), '#', class: 'text-dark'
      %p
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat.
        %h3.font-weight-bold
  %h3.font-weight-bold
    = t('news.aside_bar.life_at_university')
  %hr
  .row.justify-content-end
    .col-lg-11
      %h5.m-0.ml-10
        = link_to t('news.aside_bar.arts_and_culture'), '#', class: 'text-dark'
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      %h5.m-0
        = link_to t('news.aside_bar.sports'), '#', class: 'text-dark'
      %p
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
  %hr
