= form_for @news do |form|
  %p
    = t('news.form.title')
  %p
    = form.text_field :title, { class: 'form-control' }
  %ol
    - @news.errors[:title].each do |msg|
      %li.text-danger
        = msg
  %p
    = t('news.form.short_information')
  %p
    = form.text_field :short_information, { class: 'form-control' }
  %ol
    - @news.errors[:short_information].each do |msg|
      %li.text-danger
        = msg
  %p
    = t('news.form.body')
  %p.text-left.h5
    = form.text_area :body, { class: 'form-input tinymce', rows: 12 }
  %p
    = t('news.form.image')
  %p.text-left.h5
    = form.file_field :image, { class: 'form-input' }
  %ol
    - @news.errors[:body].each do |msg|
      %li.text-danger
        = msg
  %p.text-right
    = form.submit t('news.form.submit'), class: 'btn btn-outline-dark'
  %ol.text-left
